html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 990px){
    .customTitle div {
        display: none;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cart {
    position: relative;
}
.cart .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.cart-item {
    padding-top:1rem;
    padding-bottom: 1rem;
}

.cart-item .cart-image {
    height: 150px;
    width: auto;
}

ul.actionMenuInline li{
    display:inline;
}

.page-heading .manager {
    background-image: url(../images/managementBanner3.jpg);
}